body{
    margin: 0;
    padding: 0;
    background-color:white;
}
*{
   box-sizing: inherit; 
}
a{
    text-decoration: none;
}
a:hover{
    color: #EF5F60;
    cursor: pointer;
}
.clearfix{
    clear: both;
}
.float-left{
    float: left;
}
.float-right{
    float: right;
}
.head-title{
    font-family: 'bebas neue', cursive;
    font-size:  21px;
    line-height: 22px;
    color: #4d4d4d;
    margin: 0;
}
.head-sub-title p{
    font-family: "roboro", sans-serif;
    color: #808080;
    font-size: 15px;
}    
button{
    background-color: #EF5F60;
    font-family: 'bebas neue', cursive;
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
    letter-spacing: 1.14px;
    border: 0;
    outline: 0;
    cursor: pointer;
    color: #FFFFFF;
}
button:hover{
    opacity: 0.8;
}
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 14px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }
.content_area{
    width: 1174px;
    margin: 0 auto;
}
.container{
    width: 100%;
    height: auto;
}
/* container */   
.container .container__content{
    height: auto;
    min-height: 50vh;
}
/*header*/
header{
    width: 100%;
    height: 208px;
}
header .header_content{
    height: 208px;
    display: flex;
    justify-content: space-between;
}
header .header_content .logo{
    width: auto;
    height: 47px;
    margin-top: 74px;
}
 .header_content .logo img{
    height: 47px;
}
header .header_content .nav{
    width: auto;
    height: 47px;
    margin-top: 74px;
}
header .header_content .nav .burger-menu{
    display: none;
    position: relative;
}
.burger-menu .dropdown-menu{
    display: none;
    position: absolute;
    z-index: 100;
    top: 100%;
    right: 0;
    background-color: white;
    text-align: left;
    box-shadow: 0 0 1px #2D2d30;
}
.burger-menu:hover .dropdown-menu{
    display: block;
}
.burger-menu .dropdown-menu ul{
    list-style-type: none;
    padding: 0;
    width: 180px;
    margin: 0;
}
.burger-menu .dropdown-menu ul li{
    width: auto;
    border-bottom: 1px solid #4d4d4d;
    padding: 5px 10px;
    font-family: 'bebas neue', cursive;
    font-size: 16px;
}
.burger-menu .dropdown-menu ul li a{
    color: #4D4D4D;
}
.burger-menu .dropdown-menu ul li a:hover{
    color: #EF5F60;
}
.burger-menu .dropdown-menu ul li:hover{
    background-color: #808080;
}
.burger-menu .dropdown-menu ul li:last-of-type{
    border-bottom: 0;
}
/*menu*/
.menu{
    list-style-type: none;
}
.menu li{
    display: inline-block;
    font-family: 'bebas neue', cursive;
    font-size: 16px;
    margin: 0 27px;
}
.menu .li .a{
    color: #4D4D4D;
}
.menu .li a:hover{
    color: #EF5F60;
}
/*head slogan*/
.head_slogan{
    width: 100%;
    height: 208px;
    background-color: #F1F4F5;
}
.head_slogan .content{
    padding-top: 68px;
}
.head_slogan .content h1{
    font-family: 'bebas neue', cursive;
    font-size: 38px;
    line-height: 40px;
    margin-top: 0px;
    margin-bottom: 10px;
    color: #4d4d4d;
}
.head_slogan .content p{
    font-family: 'roboto', cursive;
    font-size: 15px;
    line-height: 38px;
    color:#808080;
}
/*gallery*/
.gallery{
    height: auto;
}
.gallery-container{
    margin: 30px 0;
    height: 100%;
}
.gallery-container .head{
    height: 45px;
    padding: 5px 10px 5px 5px;
    display: flex;
    justify-content: space-between;
}
.gallery-container .gallery-items{
    height: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.gallery-container .gallery-items .item{
    width: calc(33% - 5px);
    height: auto;
    background-color: #9c6d6d;
    cursor: pointer;
    gap: 10px;
}
.gallery-container .gallery-items .item img{
    width: 100%;
    height: 100%;
}
.gallery-container .gallery-items .item:hover{
    opacity: 0.8;
}
.gallery-container .contact{
    text-align: center;
    padding-top: 57px;
}
.gallery-container .contact .contact-title{
    font-size: 24px;
    font-weight: normal;
    font-family: 'bebas neue', cursive;
    color: #4D4D4D;
    letter-spacing: 2.8px;
    text-transform: uppercase;
    margin: 20px;
}

/*project*/
.project{
    height: auto;
}
.project-items{
    margin-top: 15px;
    display: flex;
    gap: 10px;
}
.project-items .item:hover{
    box-shadow: 0 0 3px #4d4d4d;
}
.project-items .item{
    text-align: center;
    padding: 10px;
    cursor: pointer;
    border: 2px solid #4d4d4d;
}
.project-items .item h4{
    font-family: 'bebas neue', cursive;
    font-size: 18px;
    font-weight: normal;
    color: #4d4d4d;
    margin-bottom: 0%;
}
.project-items .item p{
    font-family: 'roboto', sans-serif;
    font-size: 15px;
    line-height: 25px;
    color: #808080;
}
.project-items .item img{
    width: 114px;
    height: 114px;
    border-radius: 50%;
}
/*news*/
.news{
    height: auto;
}
.news-items{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.news-items .item{
    margin: 15px;
    width: calc(50% - 30px);
    height: 183px;
    display: flex;
    gap: 10px;
}
.news-items .item .news-img{
    width: 183;
    height: 183;
    flex: initial;
    flex: auto;
}
.news-items .item .news-content{
    width: calc(100% - 203px);
    margin-left: 20px;
}
.news-items .item .news-content .date-info{
    font-family: 'bebas neue', cursive;
    letter-spacing: 1.36px;
    text-transform: uppercase;
    color: #C3C3C3;
    font-size: 17px;
    margin-bottom: 10px;
}
/*footer*/
.container footer {
    width: 100%;
    height: 208px;
    background-color: #2D2d30;
    padding: 67px 0;
}
.container footer .copyrighter {
    font-family: "roboto", sans-serif;
    color: white;
    text-align: center;
    font-size: 18px;
}
footer .social {
    text-align: center;
    width: 100%;
    margin-top: 20px;
}
footer .social .social-icon {
    width: 34px;
    height: 34px;
    display: inline-block;
    margin: 5px;
}
footer .social .social-icon .material-icons{
    font-size: 34px !important;
}
.social-icon.facebook{
    color: #3b5998;
}
.social-icon.email{
    color: #FFFFFF;
}
.social-icon.call{
    color: #0af17e;
}
@media (max-width: 1024px) {
    .content_area{
      width: 100%;
      padding: 0;
    }
    /*header*/
header{
    width: 100%;
    height: 60px;
}
header .header_content{
    height: 70px;
    display: flex;
    justify-content: space-between;
}
header .header_content .logo{
    width: auto;
    height: 47px;
    margin-top: 10px;
}
 .header_content .logo img{
    height: 47px;
}
header .header_content .nav{
    width: auto;
    height: 47px;
    margin-top: 10px;
    }
     /*head slogan*/
  .head_slogan{
    width: 100%;
    height: auto;
    background-color: #F1F4F5;
}
  .head_slogan .content{
    padding-bottom: 15px;

}
  .head_slogan .content h1{
    font-family: 'bebas neue', cursive;
    font-size: 19px;
    line-height: 20px;
    margin: 0 10px 10px;
    color: #4d4d4d;
}
  .head_slogan .content p{
    font-family: 'roboto', cursive;
    font-size: 15px;
    line-height: 30px;
    margin: 0 10px 10px;
    color:#808080;
}
.gallery-container{
    margin: 10px;
}
.project-head, .news-head{
    margin: 0 10px;
}
.news-head{
    margin-top: 15px;
}
.project-items{
    margin: 10px;
}
.news-items{
    margin-top: 10px;
}
.news-items .item .news-img{
    width: 120px;
    height: 120px;
}
}
@media (max-width: 768px) {
    header .header_content .nav .menu{
        display: none;
    }
    header .header_content .nav .burger-menu{
        display: block;
        margin: 10px;
    }
    .gallery-container .gallery-items .item{
        width: calc(50% - 5px);
        height: auto;
        background-color: #9c6d6d;
        cursor: pointer;
        gap: 10px;
    }
    .project-items{
        flex-wrap: wrap;
    }
    .news-items .item{
        width: calc(100% - 30px);
    }
}
@media (max-width: 480px){
    .gallery-container .gallery-items .item{
        width: calc(100% - 5px);
        height: auto;
        background-color: #9c6d6d;
        cursor: pointer;
        gap: 10px;
    }
    .news-items .item{
        width: 100%;
    }
}
